.projects {
  padding: 25px 50px;
  border-bottom: 1px solid #0000003f;
}

.headline {
  display: flex;
  gap: 1%;
  align-items: center;
  margin-bottom: 60px;
}

.headlineBar {
  height: 1px;
  background: #838383;
  flex: 1;
}
