.projects {
  padding: 25px 50px;
}

// portfolio section top

.headline {
  display: flex;
  gap: 1%;
  align-items: center;
  margin-bottom: 60px;
}

.headlineBar {
  height: 1px;
  background: #838383;
  flex: 1;
}

// Portfolio wrapper

.portfolioWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}

.portfolioWrapper::before {
  content: '';
  background: url(../../assets/graphics/projects.svg) no-repeat center center/cover;
  display: block;
  width: 440px;
  height: 450px;
}


// portfolio projects sub section

.portfolio {
  width: 50%;
  margin-left: auto;

  h2 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 45px;
  }
}