.projects {
  padding: 25px 50px;
}

// Headline

.headline {
  display: flex;
  gap: 1%;
  align-items: center;
  margin-bottom: 60px;
}

.headlineBar {
  height: 1px;
  background: #838383;
  flex: 1;
}

.arrowLeft {
  background: url(../../assets/icons/straight-arrow.svg) center center no-repeat;
  display: block;
  margin: auto;
  filter: invert(0.45);
  transform: rotate(-90deg);
  width: 20px;
  height: 60px;
  animation: bounceLeft 1s ease-in-out infinite alternate-reverse;
}

@keyframes bounceLeft {
  0% {
    transform: rotate(-90deg) translateY();
  }

  100% {
    transform: rotate(-90deg) translateY(30px);
  }
}