.about {
  padding: 25px 50px;
  position: relative;
}

.about::after {
  content: '';
  background: url(../../assets/graphics/about.svg) no-repeat center center/cover;
  display: block;
  position: absolute;
  left: 66vw;
  top: 96px;
  height: 402px;
  width: 450px;
}

.greeting {
  display: flex;
  gap: 1%;
  align-items: center;
  margin-bottom: 60px;
}

.greetingBar {
  height: 1px;
  background: #838383;
  flex: 1;
}

// About author

.me {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 50%;
  margin-bottom: 85px;
}

.headline {
  display: flex;
  align-items: center;
  text-align: justify;
  gap: 12px;
  width: 500px;

  h2 {
    text-align: left;
    line-height: 30px;
  }
}

// Skills

.technologies {
  list-style: none;
  display: flex;
  gap: 16px;
  margin-bottom: 25px;
}

.tech {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 70px;
  height: 70px;
  filter: invert(0.2);
}
