.about {
  padding: 100px 50px;
  border-bottom: 1px solid #0000003f;
}

.about__greeting {
  display: flex;
  gap: 1%;
  align-items: center;
}

.about__greetingBar {
  height: 1px;
  background: #838383;
  flex: 1;
}

.circle {
  min-width: 150px;
  min-height: 150px;
  background-color: #d9d9d9;
  border-radius: 50%;
}

.me {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 500px;
  text-align: justify;
}
