.contact {
  padding: 25px 50px;
}

// Contact section top

.headline {
  display: flex;
  gap: 1%;
  align-items: center;
  margin-bottom: 60px;

  span {
    font-size: 30px;
  }
}

.headlineBar {
  height: 1px;
  background: #838383;
  flex: 1;
}

.headlineBar:nth-child(3) {
  flex: 0 0 50px;
}

// Form wrapper

.form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60%;
  }
}

