.app__header {
  display: flex;
  justify-content: space-evenly;
  position: sticky;
  top: 0;
  align-items: center;
  padding: 0 50px;
  height: 80px;
  background-color: #fff;
  transition: all 0.2s ease-out;
  z-index: 9;
}

.app__header a {
  text-decoration: none;
}

.app__headerNav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
