.box {
  border: 1px inset black;
  min-width: 300px;
  height: 400px;
  border-radius: 2rem;
}

.carousel {
  overflow: hidden;
  width: 60%;
  margin: 0 auto;
}

.innerCarousel {
  display: flex;
  gap: 20px;
}