// Carousel Slider

.carousel {
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
}

.innerCarousel {
  display: flex;
  gap: 20px;
  padding: 5px;
}

// Card

.card {
  min-width: 350px;
  height: 400px;
}
