.circle {
  height: 30px;
  width: 30px;
  border-radius: 24px;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  pointer-events: none;
  mix-blend-mode: exclusion;
  opacity: 0.07;
}
