.circle {
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  pointer-events: none;
  mix-blend-mode: color-dodge;
}
